            <NavLink class="px-3 font-bold hover:underline" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
       
       
            <NavLink class="px-3 font-bold hover:underline" href="books">
                <span class="bi bi-book-fill-nav-menu" aria-hidden="true"></span> Books
            </NavLink>
